
  <nav>
      <div class="three col" id="bar">
          <div class="hamburger" id="hamburger-5">
            <span class="line"></span>
            <span class="line middle"></span>
            <span class="line"></span>
          </div>
        </div>
      <div class="name">Shape<span>Y</span>ou</div>
      <div class="login"><button id="login">Login</button></div>
  </nav>
  <div class="login_form">
      <div class="form">
         <div class="sign_in">
              <div class="inner_sign_in">
                  <div class="sing_in_content">
                      <div class="heading_sign_in">
                          <p>Hello, There</p>
                          <p id="detail">Enter your personal details and start journey<br> with us.</p>
                          <a href="/user-signup"><button id="sign_up_btn">Sing up</button></a>
                      </div>
                  </div>
              </div>
              <div class="sing_up_form">
              </div>
         </div>
         <div class="sign_up">
          <form action="/user-login" method="post">
              <div class="inner_sign_up">
                  <div class="sign_up_content">
                      <div class="heading_sign_up">
                          <p>Sign In</p>
                      </div>
                      <div class="social_media_link">
                          <i class="fab fa-instagram fa-2x"></i>
                          <i class="fab fa-twitter fa-2x"></i>
                          <i class="fab fa-facebook fa-2x"></i>
                      </div>
                       <div class="account">
                          <p>Or use you your account</p>
                       </div>
                       <div class="inputs">
                           <input type="text" name="email" placeholder="Email" id="email"><br>
                           <input type="password" name="password" placeholder="Password" id="password">
                       </div>
                       <div class="forgot">
                          <p>I Forgot my Password</p>
                       </div>
                       <div class="button_sign_in">
                           <button type="submit">Sign in</button>
                       </div>
                  </div>
              </div>
          </form>
         </div>
      </div>
  </div>
